// Create post modal
$create-post-bg: $buddytracker-color-1-a;
$create-post-color: $buddytracker-color-2-c;
$create-post-color-strong: $buddytracker-color-2-b;
$create-post-color-light: $buddytracker-color-2-d;
$create-post-active-color: $buddytracker-color-3;

$create-post-textarea-bg: $buddytracker-color-1;

$create-post-audience-height: 85px;

$create-post-footer-bg: $buddytracker-color-1-b;
$create-post-footer-color: $buddytracker-color-2-b;

$checkin-search-height: 85px;
$checkin-search-content-color: $buddytracker-color-2;
