$buddytracker-color-1: #FFFFFF;
$buddytracker-color-1-a: darken($buddytracker-color-1, 3%);
$buddytracker-color-1-b: darken($buddytracker-color-1, 6%);
$buddytracker-color-1-c: darken($buddytracker-color-1, 12%);
$buddytracker-color-1-d: darken($buddytracker-color-1, 24%);

$buddytracker-color-2: rgba(#000000, .8);
$buddytracker-color-2-a: lighten($buddytracker-color-2, 10%);
$buddytracker-color-2-b: lighten($buddytracker-color-2, 20%);
$buddytracker-color-2-c: lighten($buddytracker-color-2, 40%);
$buddytracker-color-2-d: lighten($buddytracker-color-2, 60%);

// 1 (combo 8)
$buddytracker-color-3: #2B7BF2;
$buddytracker-color-4: #294886;
$buddytracker-color-5: #FF4C4C;
$buddytracker-color-6: #375E97;
$buddytracker-color-7: #FFBB00;
$buddytracker-color-8: #3E454C;
$buddytracker-color-9: #FFBB00;
// 2 (combo 28)
// $buddytracker-color-3: #EE693F;
// $buddytracker-color-4: #294886;
// $buddytracker-color-5: #FF4C4C;
// $buddytracker-color-6: #EE693F;
// $buddytracker-color-7: #739F3D;
// $buddytracker-color-8: #3E454C;
// $buddytracker-color-9: #EE693F;
// 3 (combo 81)
// $buddytracker-color-3: #CE5A57;
// $buddytracker-color-4: #294886;
// $buddytracker-color-5: #FF4C4C;
// $buddytracker-color-6: #CE5A57;
// $buddytracker-color-7: #78A5A3;
// $buddytracker-color-8: #444C5C;
// $buddytracker-color-9: #78A5A3;
// 4 (combo 78)
// $buddytracker-color-3: #008DCB;
// $buddytracker-color-4: #294886;
// $buddytracker-color-5: #FF4C4C;
// $buddytracker-color-6: #FA6E59;
// $buddytracker-color-7: #FFDB5C;
// $buddytracker-color-8: #353C3F;
// $buddytracker-color-9: #FA6E59;
// 5 (combo 93)
// $buddytracker-color-3: #337BAE;
// $buddytracker-color-4: #294886;
// $buddytracker-color-5: #FF4C4C;
// $buddytracker-color-6: #1A405F;
// $buddytracker-color-7: #FFDB5C;// or #FCFCFA
// $buddytracker-color-8: #337BAE;
// $buddytracker-color-9: #337BAE;
