// People
$people-bg: $buddytracker-color-1;

$people-divider-bg: $buddytracker-color-1-b;
$people-divider-color: $buddytracker-color-2;

$people-color: $buddytracker-color-2;

$people-follow-button-bg: $buddytracker-color-3;
$people-hide-button-bg: $buddytracker-color-2-d;
